@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="mt-5 mb-5" height="250" width="250" src="/img/itemx-1.png" />
    <h1 class="display-4 mb-3">Welcome</h1>
    <p><strong>Exterminus</strong> is a bug tracker application.</p>
    <p> It's a custom-designed .NET Core application done by way of Model-View-Controller with PostgreSQL database.</p>
    <p> It is a multi-tenant application designed to create projects and tickets, track their progress and record their history.</p>
    <p>Project Manager handles projects wherein the tickets are maintained.</p>
    <p>Team and team members handle each project.</p>
</div>
