html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Custom CSS Settings*/
.square-img-container {
    position: relative;
    background-color: cadetblue;
    border-color: gray;
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}



